{% extends 'rango/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    {{ active_user.username }}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class = "container">
        <h1 class='jumbotron-heading'>{{ selected_user.username }}'s Profile</h1>
    </div>
</div>
<div class = 'container'>
    <div class='row'>
        <img src="{{MEDIA_URL}}{{user_profile.picture}}"
            width='300'
            height='300' />
        <br>
        <div>
        {% if selected_user == user %}
            <form class='form-inline' method='post' action="{% url 'rango:profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input class='form-control' type='url' value="{{ user_profile.website }}"/>
            </form>
        {% else %}
        <p>
            <strong>Website:</strong>
            <a href="{{user_profile.website}}">{{user_profile.website}}</a>
        </p>
        {% endif %}    
    </div>
</div>
{% endblock %}


